@font-face {
  font-family: myFontFace;
  src: url("https://jinsicao.com/");
}

/* 多行文本截断 */
.mulity-ecliipse {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

input[type="password"][value*="jinsicao"] {
  background: url("https://jinsicao.com/");
}


